.article-list{
padding-top: 26px;
max-width: 941px;
margin: 0 auto;
}


.server-error{
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    font-size: 20px;
    padding-top: 20px;

}
.loading{
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    font-size: 20px;
    padding-top: 20px;

}