@use "../../assets/colors" as color;

.header-right-side {
  .user {
    display: inline-block;
    padding: 0 27px;
  }

  .user-name {
    color: color.$text;
  }

  .user-avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 13px;
  }

  button {
    width: 109px;
    height: 51px;
    background-color: #fff;
    color: #000000d9;

    &.sign-up {
      border: solid;
      color: color.$success;
      border-radius: 5px;
    }

    &.log-out {
      border: solid;
      color: color.$text;
      border-radius: 5px;
    }

    &.create-article {
      color: color.$success;
      width: initial;
      border: 1px solid;
      height: 32px;
      padding: 6px 10px;
      font-size: 14px;
      line-height: 22px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 625px) {
  .header-right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
