@use "../../colors.scss" as color;

.article-intro {
  .article-intro__text {
    color: color.$light-grey;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    max-width: 65%;
    margin-top: 15px;
  }
}
