@use "../../colors" as color;

.header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000000D9;

    h1 {
        margin: 0;
    }

    .header-right-side {

        button {
            width: 109px;
            height: 51px;
            background-color: #fff;
            color: #000000D9;

            &.sign-up {
                border: solid;
                color: color.$success;
                border-radius: 5px;
            }
        }
    }

}