@use "../../assets/colors.scss" as color;

.no-match {
  max-width: 941px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  line-height: 28px;
  a {
    color: color.$info;
    &:hover {
      color: #0084ff;
    }
  }
}
