.form {
    padding-top: 48px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 32px;

    max-width: 384px;
    background-color: white;

    display: flex;
    flex-direction: column;
h2{
    text-align: center;
}
    .submit-button {
        width: 100%;
    }
}