.form {
    padding-top: 48px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 32px;

    max-width: 384px;
    background-color: white;

    display: flex;
    flex-direction: column;
    
    box-shadow: 0px 0.6087964177131653px 2.9332919120788574px 0px #00000005;

    box-shadow: 0px 1.4630224704742432px 7.049108028411865px 0px #00000007;
    
    box-shadow: 0px 2.7547414302825928px 13.272845268249512px 0px #00000009;
    
    box-shadow: 0px 4.91398811340332px 23.67648696899414px 0px #0000000B;
    
    box-shadow: 0px 9.19107437133789px 44.28426742553711px 0px #0000000D;
    
    box-shadow: 0px 22px 106px 0px #00000012;
    
    h2 {
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: #262626;
    }

    p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
color: #595959d5;
    }

    .submit-button {
        width: 100%;
        height: 40px;
    }
}