@use '../../colors.scss' as color;

.form {
h2{
    width: 100%;
    text-align: center;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 28px;
}
    box-shadow: 0px 22px 106px 0px #00000012;

    width: 384px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px 32px 48px 32px;

    input {
        height: 40px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        margin-bottom: 12px;
        padding-left: 12px;
        font-size: 16px;
        line-height: 24px;
        &:nth-child(8){
            margin-bottom: 21px;
        }
    }

    button[type='submit'] {
        background-color: color.$info;
        color: white;
        margin-bottom: 8px;
        height: 40px;
    }

    hr {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        background-color: #E8E8E8;
        height: 1px;
        margin-bottom: 8px;
    }

    .checkbox {
        margin-bottom: 21px;
        font-size: 14px;
        line-height: 22px;
        color: #595959;
    }
    .sign-in-text{
        width: 100%;
        text-align: center;
        color: color.$light-grey;
    }
}