.ant-col-sm-24.ant-form-item-label {
    padding: 0;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    text-align: left;

    label {

        color: #262626;
    }

    & :before {
        display: none !important;
    }

    & :after {
        display: none;

    }


}

.ant-checkbox-wrapper-in-form-item {
    color: #595959;
}

.ant-form-item {
    margin-bottom: 12px;

    &:nth-child(5) {
        margin-bottom: 21px;
    }

    &:nth-child(7) {
        margin-bottom: 21px;
    }
    &:nth-child(8) {
        margin-bottom: 8px;
    }
}

hr {
    height: 0px;
    border: solid .5px;
    color: #E8E8E8;
    margin-bottom: 8px;
    width: 100%;
}

.ant-form-item-control-input-content input {
    height: 40px;
}

.ant-input-affix-wrapper {
    height: 40px;

    input {
        height: 100%;
    }
}

.ant-input-suffix {
    display: none;
}