@import "./assets/reset css/reset.css";

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "RobotoMedium";
  src: url(./assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf")
        format("truetype supports variations "),
      url("./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf")
        format("truetype-variations");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
  }

  .super-bold {
    font-weight: 1000;
  }
}

body {
  font-family: Inter;
}
